@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.layoutItem {
    height: 100%;
    width: 100%;
}

.layoutItem img{
    transition: transform .9s ease, filter 0.3s ease;
}

.layoutItem:hover img {
    transform: scale(1.2);
    filter: blur(8px);
}

.galleryNameHover{
    opacity: 1;
    transition: opacity .9s ease;
}


/* Style Grid */
.layoutItem:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
}

.layoutItem.fullWidth {
    grid-column: 1/3;
    height: 400px;
}

.layoutItem.layout2 {
    grid-column: 2/3;
    grid-row: 4/6;
}